@using TrainMe.Web.ViewModels.Home
@model IEnumerable<CategoryViewModel>
@{
    ViewBag.Title = "Wellcome!";
}

<h2>@ViewBag.Title</h2>

<h3>Most Popular Categories</h3>
<div class="row">
    @Html.DisplayForModel(Model)
</div>