@model TrainMe.Web.Areas.Course.InputModels.Course.CourseInputModel

@{
    ViewBag.Title = "Create New Course";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm<CourseController>(c => c.Create(null), FormMethod.Post, htmlAttributes: new { role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-success" />
    </div>
}
