@model TrainMe.Web.Areas.Course.InputModels.Course.CourseInputModel

@{
    ViewBag.Title = "Edit Course";
}

<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Edit", "Course", FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()

    @Html.EditorForModel()

    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-success" />
    </div>
}
