@using TrainMe.Web.Infrastructure.Extensions
@using TrainMe.Web.Common
@model TrainMe.Web.ViewModels.Home.CategoryViewModel

<div class="col-xs-12 col-sm-6 col-md-3">
    <h4 class="text-center">@Model.Name</h4>
    @Html.Raw(Html.Image(Url.Content(Constants.CategoryImagesPath) + Model.ImageFileName, Model.Name, "200"))
</div>